
body{
    margin: 0;
}
nav{
    background-color: #213C51;
    margin: 0;
    text-align: center;
    padding: 0;
}

.enlaces{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease, transform 0.2s ease;
    
    font-size: 18px;
}

.enlaces:hover{
    color: red;
    transform: translateY(-2px);
}

.logo{
    max-width: 64px;
    
}

ul{
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    grid-template-columns: 0.20fr 0.20fr 0.20fr 0.20fr ;
    display: grid;
    place-items: center;
    margin: 0;
}

h1{
    text-align: center;
}

.contenedor-candidatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
    justify-items: center;
}


.card {
    background: white;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;

}

.card img:hover {
    transform: scale(1.05);
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}   