
body{
    margin: 0;
}
nav{
    background-color: #213C51;
    margin: 0;
    text-align: center;
    padding: 0.02px;
    text-align: center;
}

.enlaces{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease, transform 0.2s ease;
    display: inline-block;
    font-size: 18px;
}

.enlaces:hover{
    color: red;
    transform: translateY(-2px);
}

.logo{
    max-width: 64px;
    
}

ul{
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
    display: grid;
    place-items: center;
    margin: 0;
}

.imagenes{
    width: 80%;
    margin: 5% 10%;
    place-items: center;
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid;
}

h1{
    text-align: center;
}

.nombre{
    color: black;
    font-style: none;
    text-decoration: none;
    display: grid;
}

.candidatos{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    min-height: 178px;
    
}