
body{
    margin: 0;
}
nav{
    background-color: #213C51;
    margin: 0;
    text-align: center;
    padding: 0;
}

.enlaces{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease, transform 0.2s ease;
    
    font-size: 18px;
}

.enlaces:hover{
    color: red;
    transform: translateY(-2px);
}

.logo{
    max-width: 64px;
    
}

ul{
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    grid-template-columns: 0.20fr 0.20fr 0.20fr 0.20fr ;
    display: grid;
    place-items: center;
    margin: 0;
}



.text-body{
    width: 94%;
    margin-top: 4%;
    margin-left: 3%;
}

.text-title{
    text-align: center;
    margin-top: 4%;
}

.text-sentence{
    font-size: 18px;
}

footer{
    background-color: rgb(241, 159, 35);
    height: 100px;
    margin: 0;
    align-content: center;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    text-align: center;
    align-items: center;
}

.img-footer{
    max-width: 96px;
}

