
body{
    margin: 0;
}
nav{
    background-color: #213C51;
    margin: 0;
    text-align: center;
    padding: 0;
}

.enlaces{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease, transform 0.2s ease;
    font-size: 18px;
}

.enlaces:hover{
    color: red;
    transform: translateY(-2px);
}

.logo{
    max-width: 64px;
}

ul{
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    grid-template-columns: repeat(4,0.20fr)  ;
    display: grid;
    place-items: center;
    margin: 0;
}


.vote{
width: 128px;
height: 128px;
margin-left: 46%;
}

.text-body{
    width: 94%;
    margin-top: 4%;
    margin-left: 3%;
}

.text-title{
    text-align: center;
    margin-top: 4%;
}

.text-sentence{
    font-size: 18px;
}

footer{
    background-color: rgb(241, 159, 35);
    height: auto;
    margin: 0;
    align-content: center;
    position: absolute;
    width: 100%;
}

.footer-content{
    margin-top: 10px;
    margin-left: 30%;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-center;
    text-align: center;
    align-items: center;
}

.img-footer{
    max-width: 96px;
}

